* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

header {
  height: 100px;
  padding: 10px;

  background: #3939c8;
  color: #fff;
}

article {
  background: #aaaaff;
  color: #000;
}



.flex-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer {
  height: 150px;
  padding: 20px;
}
